<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/output.css">
    <link rel="stylesheet" href="/static/orbit/orbit.css">
    <title>Document</title>    
</head>
<body class=" bg-emerald-400 dark:bg-emerald-950">
    <button class="group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border border-neutral-200 bg-transparent px-6 font-medium text-neutral-600 transition-all duration-100 [box-shadow:5px_5px_rgb(82_82_82)] active:translate-x-[3px] active:translate-y-[3px] active:[box-shadow:0px_0px_rgb(82_82_82)]" onclick="">Click me</button>

    <div>
        <div class="orbit-container" id="orbitContainer">
            <img src="/static/images/mail.svg" alt="Email" class="orbit-item">
            <div class="orbit-item text-lime-600"></div>
            <div class="orbit-item">A</div>
            <div class="orbit-item">A</div>
            <div class="orbit-item">A</div>
            <div class="orbit-item">A</div>
            <div class="orbit-item">A</div>
            <div class="orbit-item">A</div>
            <div class="orbit-item">A</div>
        </div>
    </div>

    <script src="/static/orbit/orbit.js"></script>
</body>
</html>